<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Zgłoś dzika</title>

    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/vendor/venobox/venobox.css}" rel="stylesheet">
    <link th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>

    <!-- Vendor JS Files -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>

    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
    <script th:src="@{/vendor/php-email-form/validate.js}"></script>
    <script th:src="@{/vendor/waypoints/jquery.waypoints.min.js}"></script>
    <script th:src="@{/vendor/counterup/counterup.min.js}"></script>
    <script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
    <script th:src="@{/vendor/venobox/venobox.min.js}"></script>
    <script th:src="@{/vendor/owl.carousel/owl.carousel.min.js}"></script>
    <script th:src="@{/vendor/aos/aos.js}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{/js/main.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.js"></script>

    <!-- Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8Uw0UdWLNwEegH0XQa7T6RNawUevjPTA&callback=initMap&libraries=visualization" defer></script>
    <script th:src="@{/libraries/jquery-csv.js}"></script>
    <script th:src="@{/js/map.js}"></script>

    <!-- Form -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css"/>

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
        <div class="header-container d-flex align-items-center">
            <div class="logo mr-auto">
                <h1 class="text-light"><a href=""><span>ALOC</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#header">Strona główna</a></li>
                    <li><a href="#info">Informacje</a></li>
                    <li><a href="#mapsection">Mapa</a></li>
                    <li><a href="#why-us">Kontakt</a></li>

                    <li class="get-started"><a href="#report">Zgłoś dzika</a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div><!-- End Header Container -->
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
        <a href="#report" class="btn-get-started scrollto">Zgłoś dzika</a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Report Section ======= -->
    <section id="report" class="report">
        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="100">
            <form class="php-email-form mt-4" role="form" id="report-form">
                <div class="form-group">
                    <input type="hidden" name="lat" id="lat" />
                    <input type="hidden" name="lon" id="lon" />
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <input type="text" class="form-control" name="address" id="address" placeholder="Adres" data-rule="minlen:4" data-msg="Podaj przynajmniej 4 znaki" />
                    </div>
                    <div class="form-group col-md-3">
                        <button class="form-control" id="getCoordinatesBtn" type="submit">Zlokalizuj mnie</button>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <input type="text" name="amount" id="amount" data-slider-min="1" data-slider-max="30"
                               data-slider-step="1"
                               data-slider-value="1" class="amountslider"/>
                        <span class="ml-2">Liczba dzików: <strong id="amountVal">1</strong></span>
                    </div>
                </div>

                <div class="text-center"><button id="report-button" type="submit">Zgłoś</button></div>
            </form>

            <div style="display:none;" id="thank-you-report" data-aos="fade-right" data-aos-delay="100">
                <h2>Dziękujemy za zgłoszenie !</h2>
            </div>

        </div>
    </section><!-- End Report -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row content">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <h2>JAK POSTĘPOWAĆ PO ZNALEZIENIU PADŁEGO DZIKA?</h2>
                    <h3>Ścisłe przestrzeganie niniejszych zasad minimalizuje ryzyko ewentualnego rozprzestrzenienia się choroby, w tym ryzyko wprowadzenia ASF do gospodarstw, w których utrzymywane są świnie.</h3>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
                    <p>
                        Wirus ASF może przez długi czas utrzymywać się w zwłokach padłych dzików, dlatego powinny być one usuwane ze środowiska. Pojęcie "pdłe dziki" oznacza zwłoki dzików (w tym dzików zabitych w wypadkach komunikacyjnych) świeże lub w dowolnym stadium rozkładu, w tym również kości dzików.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Jeżeli to możliwe, należy oznakować miejsce znalezienia zwłok dzika w celu ułatwienia ich odnalezienia przez właściwe służby.</li>
                        <li><i class="ri-check-double-line"></i> Powstrzymać się od dotykania zwłok dzika i pozostawić je w miejscu znalezienia. Nie należy zbliżać się do miejsca znalezienia zwłok.</li>
                        <li><i class="ri-check-double-line"></i> Należy zgłosić fakt znalezienia padłego dzika do właściwego miejscowo powiatowego lekarza weterynarii ub najbliższej lecznicy weterynaryjnej, straży miejskiej, miejscowego koła łowieckiego lub powiadomić o tym fakcie starostę, burmistrza, wójta gminy.</li>
                    </ul>
                    <p class="font-italic">
                        Celem niniejszej akcji informacyjnej jest wsparcie działań zmierzających do eliminacji wirusa, poprzez usuwanie ze środowiska martwych dzików, potencjalnie zakażonych ASF.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="mapsection" class="mapsection">
        <div class="row content">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <h2>Gdzie dzisiaj można spotkać dzika?</h2>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
                <h3>Na podstawie historycznych danych</h3>
            </div>
        </div>
        <div class="map-container" data-aos="fade-in" data-aos-delay="100">
            <input type="checkbox" id="observationCheckbox" name="Obserwacje" onclick="toggleObservations()" checked/>
            <label for="observationCheckbox">Obserwacje</label>
            <input type="checkbox" id="predictionCheckbox" name="Predykcje" onclick="toggleHeatmap()" checked/>
            <label for="predictionCheckbox">Predykcje</label>
            <div id="map"></div>
        </div>
    </section><!-- End Counts Section -->


    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="content">
                        <h3>JAK SIĘ ZACHOWAĆ, KIEDY SPOTKASZ DZIKA?</h3>
                        <p>
                            Jeśli spotkałeś/aś dzika w lesie staraj się możliwie najspokojniej wycofać, nie robiąc wokół siebie hałasu. Gdyby jednak stało się tak, że zwierzę zacznie biec w twoją stronę,
                            to po prostu zejdź mu z drogi. Dziki są mało zwrotne, więc to powinno dać ci chwilę wytchnienia. Zwierzę będzie musiało zahamować i potem nawrócić,
                            a ty wykorzystasz ten czas, żeby odejść możliwie najdalej.

                            Jeśli do spotkania doszło w mieście skontaktuj się z odpowiednimi słuzbami.
                        </p>
                        <div class="text-center">
                            <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Skontaktuj się z Straza miejską</h4>
                                    <h5>nr kontaktowy: 986</h5>
                                    <p>(nie we wszystkich miastach)</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Skontaktuj się z Głównym Inspektorat Sanitarnym</h4>
                                    <h5>+48 22 34 53 300</h5>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>Skontaktuj się z Inspekcją Weterynaryjną</h4>
                                    <h5>tel. 22 623 17 17</h5>
                                    <h5>tel. 22 623 20 89</h5>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->

</main><!-- End #main -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<script th:src="@{/js/form.js}"></script>
</body>

</html>