<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Zgłoś dzika</title>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8Uw0UdWLNwEegH0XQa7T6RNawUevjPTA&callback=initMap&libraries=visualization"
            defer
    ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/libraries/jquery-csv.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
    <div id="map"></div>
</body>
</html>